<!--begin::Stats-->
<div class="card-spacer mt-n25">
  <!--begin::Row-->
  <div class="row m-0">
    <div class="col bg-light-warning px-6 py-8 rounded-xl mr-7 mb-7">
      <span
        [inlineSVG]="'./assets/media/svg/icons/Media/Equalizer.svg'"
        class="svg-icon svg-icon-3x svg-icon-warning d-block my-2"
      ></span>
      <a href="#" class="text-warning font-weight-bold font-size-h6">
        Weekly Sales
      </a>
    </div>
    <div class="col bg-light-primary px-6 py-8 rounded-xl mb-7">
      <span
        [inlineSVG]="'./assets/media/svg/icons/Communication/Add-user.svg'"
        class="svg-icon svg-icon-3x svg-icon-primary d-block my-2"
      ></span>
      <a href="#" class="text-primary font-weight-bold font-size-h6 mt-2">
        New Users
      </a>
    </div>
  </div>
  <!--end::Row-->
  <!--begin::Row-->
  <div class="row m-0">
    <div class="col bg-light-danger px-6 py-8 rounded-xl mr-7">
      <span
        [inlineSVG]="'./assets/media/svg/icons/Design/Layers.svg'"
        class="svg-icon svg-icon-3x svg-icon-danger d-block my-2"
      ></span>
      <a href="#" class="text-danger font-weight-bold font-size-h6 mt-2">
        Item Orders
      </a>
    </div>
    <div class="col bg-light-success px-6 py-8 rounded-xl">
      <span
        [inlineSVG]="
          './assets/media/svg/icons/Communication/Urgent-mail.svg'
        "
        class="svg-icon svg-icon-3x svg-icon-success d-block my-2"
      ></span>
      <a href="#" class="text-success font-weight-bold font-size-h6 mt-2">
        Bug Reports
      </a>
    </div>
  </div>
  <!--end::Row-->
</div>
<!--end::Stats-->