<div class="row">
  <div class="col-lg-6 col-xxl-5">
    <app-stat-cards></app-stat-cards>
  </div>
  <div class="col-lg-6 col-xxl-7">
    <app-sale-chart></app-sale-chart>
    <app-user-chart></app-user-chart>
  </div>
  <div class="col-xxl-8 order-2 order-xxl-1">
    <app-products></app-products>
  </div>
  <div class="col-lg-6 col-xxl-4 order-1 order-xxl-2">
    <app-product-delivery></app-product-delivery>
  </div>
</div>
<div class="row">
  <div class="col-lg-8">
    <app-orders></app-orders>
  </div>
</div>